html, body, #map, .controls{
    height: 100%;
    margin: 0;
    padding: 0;
}
#map{
    height: 100%;
    clear: both;
}
.controls{
    position:absolute;
    right:0;
    /* make it go above the map */
    z-index: 900;
}
.button{
    height: 100%;
    display: inline-block;
    font-size: 1.1em;
    width: 31%;
}